.parent-loading{
    position: relative;
}

#loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: lightblue;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    z-index: 9999;
    opacity: .5;
}


.qhn-select2-rjs{
    width: 250px;
}

.qhn-select2-bulk-action{
    position: absolute;
    left: 0px;
}

.qhn-select2-bulk-action>div{
    width: 120px;

}

.qhn-select2-bulk-action>div>div{
    border-radius: 0;
}

.notifications-component {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9000;
    pointer-events: none;
    width: 1200px;
    height: 100%;
}